@charset "utf-8";

/*reset*/
a{text-decoration:none; color:#000000;}

#txt > p{float:left; margin:20px;}
#link1{clear:both;}
#link1 a{margin:15px;}

#wrap h4, #wrap p{float:left; margin:10px; border:2px solid #999999; width:120px; height:140px; font-size:15px; font-weight:bold; text-align:center;}

#ex{clear:both; font-size:14px;}
